{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load allauth account %}

{% block conteudo %}
<div class="login">
  <div class="img-login">
    <img class="logoCentral" src="{% static 'imagens/logo.jpg' %}" alt="Logo MB" width="150px">
  </div>
  <div class="forms-login">
    <div class="pgLogin">
      {% if not SOCIALACCOUNT_ONLY %}
        <form class="px-4 py-3" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="LOGIN">{% trans "LOGIN" %}</label>
            <input type="text" class="form-control" id="username" name="login" placeholder="{% trans 'Usuário' %}">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" id="password" name="password" placeholder="{% trans 'Senha' %}">
          </div>
          {{ redirect_field }}
          <button type="submit" class="btn btn-primary botao">{% trans "Sign In" %}</button>
        </form>
        <div class="mensagens">
          {% if messages %}
            <ul>
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <a class="dropdown-item DIRcadastro" href="{% url 'account_signup' %}">{% trans "Novo por aqui? Cadastre-se." %}</a></br>
        <a class="dropdown-item DIRresetSenha" href="{% url 'account_reset_password' %}">{% trans "Esqueci minha senha." %}</a>
      {% endif %}
      {% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
        <hr>
        {% if PASSKEY_LOGIN_ENABLED %}
          <button type="submit" form="mfa_login" id="passkey_login" class="btn btn-outline-primary">
            {% trans "Sign in with a passkey" %}
          </button>
        {% endif %}
        {% if LOGIN_BY_CODE_ENABLED %}
          <a href="{{ request_login_code_url }}" class="btn btn-outline-primary">
            {% trans "Mail me a sign-in code" %}
          </a>
        {% endif %}
      {% endif %}
      {% if SOCIALACCOUNT_ENABLED %}
        <hr>
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}