{% extends "base.html" %}
{% load static %}
{% load i18n allauth account %}

{% block conteudo %}
<div class="password-reset">
    <div class="pgReset">
        <h1>{% trans "Redefinição de Senha" %}</h1>
        {% if user.is_authenticated %}
            <p>{% trans "Você já está logado. Não é possível redefinir a senha enquanto está logado." %}</p>
            <a href="{% url 'account_logout' %}" class="btn btn-primary botao">{% trans "Sair" %}</a>
        {% else %}
            <p>{% trans "Esqueceu sua senha? Insira seu endereço de e-mail abaixo e enviaremos um e-mail para redefini-la." %}</p>
            {% url 'account_reset_password' as reset_url %}
            <form method="POST" action="{{ reset_url }}">
                {% csrf_token %}
                <div class="form-reset">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                </div>
                {% if form.email.errors %}
                    <ul>
                        {% for error in form.email.errors %}
                            <li style="color: red;">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <button type="submit" class="btn btn-primary botao">{% trans "Redefinir Minha Senha" %}</button>
            </form>
            <p>{% trans "Entre em contato conosco se tiver problemas para redefinir sua senha." %} <a href="mailto:sampi-pb@utfpr.edu.br?subject=Problemas%20com%20Redefinicao%20de%20Senha&body=Descreva%20seu%20Problema">{%trans "Entrar em contato via email" %}</a> </p>
        {% endif %}
    </div>
</div>
{% endblock %}
