{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block conteudo %}
<div class="resetPasswordDone">
    <div class="pgResetPasswordDone">
        <h1>{% trans "Redefinição de Senha" %}</h1>
        
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        
        <p>
            {% blocktrans %}Enviamos um e-mail para você! :) Se não o recebeu, por favor, verifique sua pasta de spam. Caso contrário, entre em contato conosco se não o receber em alguns minutos. <a href="mailto:sampi-pb@utfpr.edu.br?subject=Problemas%20com%20Redefinicao%20de%20Senha&body=Descreva%20seu%20Problema"> Entrar em contato via email </a> {% endblocktrans %}
        </p>
    </div>
</div>
{% endblock conteudo %}
