{% extends "base.html" %}
{% load static %}
{% load allauth i18n %}
{% load allauth account %}

{% block conteudo %}
<div class="cadastro">
    <div class="img-cadastro">
        <img class="logoCentral" src="{% static 'imagens/logoSampi.png' %}" alt="Logo SAMPI" width="450px">
    </div>
    <div class="pgCadastro">
        <form class="px-4 py-3" method="POST" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">{% trans "Usuário" %}</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="{% trans 'Digite o nome de usuário' %}" required>
            </div>
            <div class="form-group">
                <label for="email">{% trans "Email" %}</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="{% trans 'Digite seu email' %}" required>
            </div>
            <div class="form-group">
                <label for="password1">{% trans "Senha" %}</label>
                <input type="password" class="form-control" id="password1" name="password1" placeholder="{% trans 'Digite sua senha' %}" required>
            </div>
            <div class="form-group">
                <label for="password2">{% trans "Confirme sua Senha" %}</label>
                <input type="password" class="form-control" id="password2" name="password2" placeholder="{% trans 'Confirme sua senha' %}" required>
            </div>
            {{ redirect_field }}
            <div class="mensagens">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <p style="color: red;">{% trans error %}</p>
                    {% endfor %}
                {% endfor %}
                {% if form.non_field_errors %}
                    <p style="color: red;">{% trans form.non_field_errors %}</p>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary botao">{% trans "Cadastrar" %}</button>
        </form>
        <a class="dropdown-item DIRlogin" href="{% url 'account_login' %}">{% trans "Já possui uma conta? Faça login aqui." %}</a></br>
    </div>
</div>

{% if PASSKEY_SIGNUP_ENABLED %}
<div class="container">
    <hr>
    <a href="{{ signup_by_passkey_url }}" class="btn btn-outline-primary">{% trans "Cadastrar-se usando uma chave de acesso" %}</a>
</div>
{% endif %}

{% if SOCIALACCOUNT_ENABLED %}
<div class="container">
    <hr>
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
</div>
{% endif %}
{% endblock %}
