.login {
  width: 90%;
  max-width: 400px;
  min-height: 70vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
              0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 20px auto; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  gap: 30px;
}

.img-login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-login img {
  max-width: 150px; 
  height: auto;
}

.forms-login {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.forms-login, .img-login {
  flex: none;
}

.pgLogin {
  width: 100%;
  max-width: 350px;
}

.pgLogin .form-group {
  margin-bottom: 20px;
}

.pgLogin input.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.pgLogin .botao {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.pgLogin .label_login{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pgLogin .botao:hover {
  background-color: #0056b3;
}

.mensagens ul {
  list-style-type: none;
  padding: 0;
  margin-top: 15px;
}

.mensagens li {
  color: red;
  font-size: 14px;
}

.DIRcadastro, .DIRresetSenha {
  display: block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.DIRcadastro:hover,
.DIRresetSenha:hover {
  text-decoration: underline;
}