{% extends "base.html" %}

{%block conteudo %}
    <h2>Digite sua Chave Mestra</h2>

    <p>Essa chave é usada para acessar suas senhas criptografadas.</p>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST" >
        {% csrf_token %}
        <label for="chave_mestra">Chave Mestra:</label>
        <input type="password" name="chave_mestra" id="chave_mestra" required>
        <button type="submit">Confirmar</button>
    </form>

    <p><a href="{% url 'recuperarChaveMestra' %}">Esqueci minha chave mestra</a></p>

{%endblock%}