{% extends "base.html" %}

{%block conteudo %}
    <div class="recovery-container">
        <h2>Recuperar Chave Mestra</h2>

        <p>Digite sua recovery key para recuperar o acesso à sua chave mestra.</p>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="recovery-form">
            <form method="POST">
                {% csrf_token %}
                <label for="recovery_key">Recovery Key:</label>
                <input type="text" name="recovery_key" id="recovery_key" required>
            </form>
            <button type="submit">Recuperar</button>
        </div>
        <div>
            {% comment %} isso seria pra voltar pra pagina anterior ou seja tinha qie ser a exigir chave mestra{% endcomment %}
            {% comment %} <p><a href="{% url 'login' %}">Voltar ao login</a></p>  {% endcomment %}
        </div>
    </div>

{%endblock%}