{%load static%}
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagina_principal.css' %}">
    <link rel="stylesheet" href="{% static 'css/chave_restauracao.css' %}">
    <link rel="stylesheet" href="{% static 'css/.css' %}">
    <link rel="stylesheet" href="{% static 'css/chave_mestra.css' %}">
